<ion-view title="Partida" id="tudo">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>
        <ion-list>
            <ion-item class="item-thumbnail-left" id="tumb">
                <img id="foto" src="img/vIROhC1IQlmZGXPFv3re_N3SJQUqUnHi1D1tfB2e6Iwi3wMfQJXhW7fgVGuAa4O36IFCmwx9euzIaUYVDyaKQ.jpg">
                <h2>Summoner's Rift</h2>
                <p>10/4/2</p>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item id="item">8/11/15 - 23:54</ion-item>
            <ion-item id="item">Normal (Escolha Livre)</ion-item>
            <ion-item id="item">6.6K</ion-item>
        </ion-list>
    </ion-content>
</ion-view>